<section class="bg-overlay-3">
    <div class="overlay">
        <div class="row justify-content-md-center">
            <div class="wrapper-message">
                <h1>Services</h1>
            </div>
        </div>
    </div>
</section>

<div class="container service-content">
    <div class="row">
        <div class="single-service-makeup">
                <div class="wrapper-message">
                       <a routerLink="/makeup" style="color:white;"> <h2>Makeup</h2></a>
                </div>
        </div>
        <div class=" single-service-makeup">
                <div class="wrapper-message">
                        <a routerLink="/cosmetics" style="color:white; "> <h2>Cosmetics</h2></a>
                </div>
        </div>
        <div class="single-service-makeup">
                <div class="wrapper-message">
                        <a routerLink="/cakes" style="color:white;"> <h2>Cakes</h2></a>
                </div>
        </div>
    </div>
</div>